<div class="bg-light">
    <div class="container py-5">
        <div class="row h-100 align-items-center py-5">
            <div class="col-lg-6">
                <h1 class="display-3">Quem somos</h1>
                <h2 class="display-5">Um sonho, uma marca!</h2>
                <p class="lead text-muted mb-0">A trajetória de sucesso da Rede de Supermercados Loja Delivery Store teve início com um tímido projeto e 
                    atualmente são 28 lojas em funcionamento em 4 municípios: Bauru, São Paulo, Sorocaba e Lins.</p>
            </div>
            <div class="col-lg-6 d-none d-lg-block"><img
                    src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/illus_kftyh4.png" alt=""
                    class="img-fluid"></div>
        </div>
    </div>
</div>
