<div class="container main-container">

    <div class="row text-center" class="col-md-12"
        style="padding-bottom: 30px;"
        style="text-align: center;"
        style="font-size: xx-large;">

        Fornecedores
    </div>

    <table class="table table-sm">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Telefone</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="fornecedores.length === 0">
                <th>Não existem fornecedores</th>
            </tr>
            <tr *ngFor="let fornecedor of fornecedores; let i = index">
                <th scope="row">{{ i+1 }}</th>
                <td>{{ fornecedor.name }}</td>
                <td>{{ fornecedor.email }}</td>
                <td>{{ fornecedor.phone }}</td>
            </tr>
        </tbody>
    </table>
</div>
